<div>
    <h2 id="page-heading">
        <span>Product Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-order-item" [routerLink]="['/product-order-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Product Order Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productOrderItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calculatedPrice"><span>Calculated Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="product.name"><span>Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="order.id"><span>Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productOrderItem of productOrderItems ;trackBy: trackId">
                <td><a [routerLink]="['/product-order-item', productOrderItem.id, 'view' ]">{{productOrderItem.id}}</a></td>
                <td>{{productOrderItem.quantity}}</td>
                <td>{{productOrderItem.calculatedPrice}}</td>
                <td>
                    <div *ngIf="productOrderItem.product">
                        <a [routerLink]="['../product', productOrderItem.product?.id, 'view' ]" >{{productOrderItem.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productOrderItem.order">
                        <a [routerLink]="['../product-order', productOrderItem.order?.id, 'view' ]" >{{productOrderItem.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-order-item', productOrderItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-order-item', productOrderItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-order-item/'+ productOrderItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productOrderItems && productOrderItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
